@model IEnumerable<vanlangcanteen.Models.ORDER>

@{
    ViewBag.Title = "Orders";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
    var quanlity1 = 0;
    var total1 = 0;
}

<h2>DANH SÁCH HÓA ĐƠN</h2>

<p>
    <a class="text-capitalize" href="@Url.Action("Create")">
        <i class="fas fa-plus-circle"> Thêm hóa đơn</i>
    </a>
</p>

<section class="content">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <div class="col-12">
                        <div class="card">
                            <!-- /.card-header -->
                            <div class="card-body">
                                <table id="example1" class="table table-bordered table-striped">
                                    <thead>
                                        <tr>
                                            <th>
                                                Mã hóa đơn
                                            </th>
                                            <th>
                                                Ngày
                                            </th>
                                            <th>
                                                Tên khách hàng
                                            </th>
                                            <th>
                                                Số điện thoại
                                            </th>
                                            <th>
                                                Tổng số lượng
                                            </th>
                                            <th>
                                                Tổng tiền
                                            </th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>

                                        @foreach (var item in Model)
                                        {
                                            <tr>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.ORDER_CODE)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.DATE)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.CUSTOMER.FULL_NAME)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.CUSTOMER.PHONE_NUMBER)
                                                </td>
                                                @foreach (var items in item.ORDER_DETAIL)
                                                {
                                                    quanlity1 += items.QUANTITY;
                                                    total1 += items.PRICE * items.QUANTITY;
                                                }
                                                <td>
                                                    @quanlity1
                                                </td>
                                                <td>
                                                    @total1.ToString("#,###")
                                                </td>
                                                <td>
                                                    <a href=@Url.Action("Edit", new { item.ID})>
                                                        <i class="fas fa-edit" style="width:20px"></i>
                                                    </a>
                                                    <a href=@Url.Action("Detail", new { item.ID})>
                                                        |
                                                        <i class="fas fa-eye"></i>
                                                    </a>
                                                    <a href=@Url.Action("Delete", new { item.ID})>
                                                        |
                                                        <i class="fas fa-trash"></i>
                                                    </a>
                                                    <a href=@Url.Action("Print", new { item.ID})>
                                                        |
                                                        <i class="fas fa-print"></i>
                                                    </a>

                                                </td>
                                            </tr>
                                            quanlity1 = 0;
                                            total1 = 0;
                                        }

                                    </tbody>
                                </table>
                            </div>
                            <!-- /.card-body -->
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>